<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>servlets.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPersona</servlet-name>
        <servlet-class>servlets.GuardarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarXSD</servlet-name>
        <servlet-class>servlets.ValidarXSD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarDTD</servlet-name>
        <servlet-class>servlets.ValidarDTD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarPersona</servlet-name>
        <servlet-class>servlets.MostrarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolverAgenda</servlet-name>
        <servlet-class>servlets.DevolverAgenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPersona</servlet-name>
        <url-pattern>/GuardarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarXSD</servlet-name>
        <url-pattern>/ValidarXSD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarDTD</servlet-name>
        <url-pattern>/ValidarDTD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarPersona</servlet-name>
        <url-pattern>/MostrarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolverAgenda</servlet-name>
        <url-pattern>/DevolverAgenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
